<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#c20000">
    <meta name="msapplication-navbutton-color" content="#c20000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#c20000">
    <title>{{ title }}</title>
  {% endblock %}
  {% block styles %}
    <!-- Styles common for every page: -->
    <link rel="stylesheet" href="/vendor.css">
    <link rel="stylesheet" href="/manifest.css">
    <!-- End of common styles. -->
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block scripts %}
    <!-- Scripts common for every page: -->
    <script src="/manifest.js"></script>
    <script src="/vendor.js"></script>
    <!-- End of common scripts. -->
  {% endblock %}
</body>
</html>
