<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#eb5e30">
        <meta name="msapplication-navbutton-color" content="#eb5e30">
        <meta name="apple-mobile-web-app-status-bar-style" content="#eb5e30">
        <title>{{ title }}</title>
    {% endblock %}
    {% block preload %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
